{% extends "template.twig" %}

{% block content %}
    <div class="result">
        <h1>Your result is following: </h1>
        <h2>{{ message }}</h2>
        <button><a href="/home" target="_parent">Lets get back home</a></button>
        <button><a href="/form" target="_parent">Form again</a></button>
    </div>
{% endblock %}