<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.twig" %}
</head>
<body>
    <nav>
        <h2>Exercise for reflection and annotation!</h2>
    </nav>

    {% block content %} {% endblock %}

    <div class="footer">
        <p>&copy; Ziemo Andrzejewski 2018</p>
    </div>
</body>
</html>